.col1{
	width: 100%;
	background-color: #B3572D;
	text-align: center;
}

.col2{
	width: 100%;
	align-items: center;
	justify-content: center;
	display: flex;
}

.col3{
	width: 100%;
	flex-direction: row;
	display: flex;
	justify-content: flex-end;
	position: absolute;
	top:20%;
	left: 50%;
	transform:translate(-50%, -50%);
}

.col4{
	position: absolute;
	top:80%;
	left: 50%;
	transform:translate(-50%, -50%);
	background-color: #B3572D;
	width: 20%;
	height: 5%;
	text-align: center;
}

.col4:hover{
	position: absolute;
	top:80%;
	left: 50%;
	transform:translate(-50%, -50%);
	background-color: #ffffff;
	width: 20%;
	height: 5%;
	text-align: center;
}

.col5{
	width: 100%;
	flex-direction: row;
	display: flex;
	margin-top: 8%;
	margin-bottom: 8%;
}

.col6{
	width: 50%;
	float: left;
	justify-content: center;
	align-items: center;
	display: flex;
}

.col7{
	width: 50%;
	float: right;
	align-items: center;
	display: flex;
}

.col8{
	background-color: #D6D195;
	width: 90%;
	height: 70%;
}

.col9{
	background-color: #B3572D;
	width: 30%;
	height: 10%;
	text-align: center;
	margin-top: 10%;
	margin-left: 35%;
}

.col9:hover{
	background-color: #ffffff;
}

.col10{
	width: 100%;
	text-align: center;
}

.col11{
	width: 100%;
	flex-direction: row;
	display: flex;
	align-items: center;
	justify-content: center;
}

.col12{
	width: 25%;
	margin:2.5%;
	background-color: #D6D195;
	text-align: center;
}

.col13{
	width: 30%;
	height: 10%;
	background-color: #B3572D;
	margin-left: 35%;
}

.col13:hover{
	background-color:white;
}

.col14{
	width: 100%;
	background-color: #B3572D;
	text-align: center;
	margin-top: 5%;
}

.col15{
	background-color: #D6D195;
	width: 90%;
	height: 50%;
}

.col16{
	width: 100%;
	flex-direction: row;
	display: flex;
	margin-top: 10%;
	margin-bottom: 10%;
}

.col17{
	width: 50%;
	float: left;
	align-items: center;
	display: flex;
	flex-direction: column;
}

.col18{
	width: 100%;
	flex-direction: column;
	display: flex;
	text-align: center;
	margin-top: 10%;
	margin-bottom: 10%;
}

.col19{
	width: 100%;
	margin-top: 10%;
	text-align: center;
	margin-bottom: 10%;
}

.col20{
	width: 100%;
	flex-direction: row;
	display: flex;
	margin-bottom: 10%;
}

.col21{
	width: 40%;
}

.col22{
	width: 60%;
	float: right;
}

.col23{
	width: 30%;
	height:10%;
	background-color: #B3572D;
	text-align: center;
	margin-top: 5%;
}

.col23:hover{
	background-color: #ffffff;
}

.col24{
	width: 100%;
	flex-direction: row;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 5%;
}

.col25{
	width: 30%;
	margin:2.5%;
	text-align: center;
}

.col26{
	background-color: #D6D195;
	display: flex;
	flex-direction: row;
	text-align: center;
	justify-content: center;
	align-items: center;
}

.col27{
	width: 100%;
	flex-direction: row;
	display: flex;
	margin-top: 20%;
	margin-bottom: 20%;
}

.col28{
	width: 50%;
	justify-content: flex-end;
	display: flex;
}

.col29{
	width: 50%;
}

.col30{
	width: 100%;
	background-color: #B3572D;
	text-align: center;
	margin-top: -1%;
}

.zdj1{
	width: 100%;
	position: relative;
}

.zdj2{
	width: 60%;
	position: relative;
	transition-duration: 3s;
    margin: 0 auto;
    display: block;
}

.zdj2:hover{
	 transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    z-index: 0;
}

.zdj3{
	width: 100%;
	position: relative;
	transition-duration: 3s;
    margin: 0 auto;
    display: block;
}

.zdj3:hover{
	 transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    z-index: 0;
}

.zdj4{
	width: 70%;
	position: relative;
	transition-duration: 3s;
    margin: 0 auto;
    display: block;
}

.zdj4:hover{
	 transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    z-index: 0;
}

.zdj5{
	width: 50%;
	position: relative;
	transition-duration: 3s;
    margin: 0 auto;
    display: block;
}

.zdj5:hover{
	 transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    z-index: 0;
}

.zdj6{
	width: 100%;
	position: relative;
	transition-duration: 3s;
    margin: 0 auto;
    display: block;
}

.zdj6:hover{
	 transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    z-index: 0;
}

.zdj7{
	width: 10%;
}

.zdj8{
	width: 60%;
	position: relative;
	transition-duration: 3s;
    margin: 0 auto;
    display: block;
}

.zdj8:hover{
	 transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    z-index: 0;
}

.t1{
	color: white;
	font-size: 20px;
	padding:1%;
}

.t2{
	font-size: 25px;
	color: white;
	text-align: center;
	position: absolute;
	left: 50%;
	top:50%;
	transform:translate(-50%, -50%);
}

.t3{
	font-size: 60px;
	color: white;
	text-align: center;
	position: absolute;
	left: 50%;
	top:55%;
	transform:translate(-50%, -50%);
}

.t4{
	color: white;
	padding-bottom:3%;
}

.t4:hover{
	color: #B3572D;
	padding-bottom:3%;
}

.t5{
	color: #B3572D;
	font-size: 40px;
	margin-left: 5%;
}

.t6{
	font-size: 20px;
	margin-left: 5%;
	margin-right: 3%;
}

.t7{
	color: white;
	padding-top: 7%;
	text-decoration: none;
}

.t7:hover{
	color: #B3572D;
}

.t8{
	font-size: 55px;
	color:#B3572D;
	margin-right: 20%;
	margin-left: 20%;
}

.t9{
	color: #B3572D;
	font-size: 20px;
}

.t10{
	color: #B3572D;
	font-size: 25px;
}

.t11{
	font-size: 15px;
}

.t12{
	font-size: 15px;
	padding:5%;
	color: white;
	text-decoration: none;
}

.t12:hover{
	color:#B3572D;
}

.t13{
	padding-top: 10%;
	color:#ffffff;
	font-size: 60px;
}

.t14{
	color: #ffffff;
	font-size: 20px;
	margin-right: 15%;
	margin-left: 15%;
}

.t15{
	color: #ffffff;
	font-size: 20px;
	margin-right: 15%;
	margin-left: 15%;
	padding-bottom: 10%;
}

.t16{
	color: #B3572D;
	font-size: 40px;
	margin-left: 10%;
}

.t17{
	font-size: 20px;
	margin-right: 5%;
	margin-left: 10%;
}

.t18{
	color:#B3572D;
	font-size: 20px;
	margin-left: 10%;
	margin-right: 10%;
}

.t19{
	font-size: 20px;
	margin-right: 15%;
	margin-left: 15%;
}

.t20{
	color: #B3572D;
	font-size: 15px;
}

.t21{
	font-size: 30px;
}

.t22{
	margin-right: 5%;
	font-size: 15px;
}

.t23{
	padding-top: 5%;
	color: #ffffff;
}

.t23:hover{
	color:#B3572D;
}

.t24{
	font-size: 25px;
}

.t25{
	font-size: 20px;
}

.t26{
	color: #B3572D;
	margin-right: 2.5%;
}

.t27{
	padding:5%;
	color: #ffffff;
}

a{
	text-decoration: none;
}

.tm{
	margin-right:20px;
	margin-left: 20px;
	font-size: 20px;
}

.menu{
  padding: 0px;
  margin:10px;
  display: inline-block;
}
.menu.active {
	display:none;
}

.menu li{
  float:left;
  list-style:none;
}

.menu li a{
  padding: 20px 15px;
  display: inline-block;
  text-decoration:none;
  color:#B3572D;
}

.menu li:hover a{
    background:  #B3572D;
    color:white ;
}

.menu li ul{
   margin: 0; 
   padding: 0;
}

.menu li ul{
   margin: 0;
   padding: 0;
   position: absolute;
   z-index: 100;
  display:none;
}

.menu li:hover ul{
  display:block;
}

.menu li ul li{
  display:block;
  width: 100%;
}

.menu li ul li a{
  width: 100%;
}